extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p One of the largest cinema chain across the world. Hope we can serve you better
        p Movienta booking website

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/book-movie') Start booking now
        br
        br
        a.btn.btn-info-outline.btn-lg.m-t-1(href='/') Go Back to Home Page
