extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p For customer Support you can reach us to (312) 818-9000
        p Or email us: support@movienta.com

        a.btn.btn-primary(href='/') Go Back to Home Page
