extends layout.pug

block content
  h1.mt-5= title
  form(method="POST")
    br
    br
    br
    .form-group
      label(for='title')(style='color:white') Title
      input#title.form-control(type='text', placeholder='Title of the Movie', name="title", value=movie.title, style='color:black')
    .form-group
      label(for='Director')(style='color:white') Director
      input#director.form-control(type='text', placeholder='Name of the Director', name="director", value=movie.director, style='color:black')
    .form-group
      label(for='cast')(style='color:white') Cast
      input#cast.form-control(type='text', placeholder='Enter Cast of the movie', name="cast", value=movie.cast, style='color:black')
    button.btn.btn-primary(type='submit') Release Movie Details
    br
    br
    a.btn.btn-primary(href='/') Go back to Home Page
    br
