extends layout.pug

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.mt-5= title
        form(method="POST")
          .form-group
            label(for='title') Title
            input#name.form-control(type='text', placeholder='Enter title of the movie', name="title", value=movie.title)
          .form-group
            label(for='director') Director
            input#author.form-control(type='text', placeholder='Director of the movie', name="director", value=movie.director)
          .form-group
            label(for='cast') Cast
            input#numPages.form-control(type='text', placeholder='Cast of the movie', name="cast", value=movie.cast)
    button.btn.btn-primary(type='submit') Release Movie Details
    br
    br
    button.btn.btn-primary(type='reset') Reset details
    br
    br
    a.btn.btn-primary(href='/') Go back to Home Page
    br
