extends layout.pug

block content
  br
  br
  br
  br
  br
  br
  h1.mt-5(style='color:white')= "Movie Title: " + movie.title
  h3.mt-5(style='color:white')= "Director: " + movie.director
  h3.mt-5(style='color:white')= "Cast: " + movie.cast
  a.btn.btn-primary(href='/book-movie') Book Tickets
  br
  br
  a.btn.btn-primary(href='/') Go back to Home Page
  br
  br
