extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Edit/Delete Movies
    h3.display-7 Please select the movie on which you want make changes
  table.table
    thead
      tr(style='color:white')
        th(scope='col')(style='color:white') Title
        th(scope='col')(style='color:white') Director
        th(scope='col')(style='color:white') Cast
    tbody
      each movie in movies
        tr.tabledata(style='color:white')
          td
            a(href='/movies1/' + movie.id)= movie.title
          td= movie.director
          td= movie.cast
